<div class="notification">
  <div class="notification-content">
    <div class="notification-text">{{ message }}</div>
    <button class="close-button"><span class="material-symbols-outlined"> close </span></button>
  </div>
</div>
