<div class="notification">
  <div class="notification-content">
    <div class="notification-message">
      <span class="material-symbols-outlined mail-icon"> {{ icon }} </span>
      <div class="notification-text">{{ message }}</div>
    </div>
    <button class="close-button"><span class="material-symbols-outlined"> close </span></button>
  </div>
</div>
