{{!< default}}
{{#get "pages" filter="tag:contact" limit="1"}}
{{#foreach pages}}
<div class="main-content">
  <div class="contact-content" id="contact">
    <div class="container-column container-centered">
      <h2 class="title">{{ title }}</h2>
      <div class="contact-box">
        {{> contact-block underlineState="with-line" color="blue"}}
      </div>
    </div>
  </div>
</div>

{{/foreach}}
{{/get}}
