{{!< default}}
<div class="contact-content" id="contact">
  <div class="contact-sides">
    {{> contact-form }}
    <span class="line"></span>
    <div class="contact-box">
      {{> contact-block underlineState="with-line" }}
      {{#if @custom.biale_logo}}<img src="{{@custom.biale_logo}}" class="contact-logo" />
      {{/if}}
    </div>
    {{> notification  message="Wysłano wiadmość"}}
  </div>
</div>
