{{!< default}}
<main class="main-content">
  {{> about}}

  <div class="main-site-gallery">
    {{#get "posts" filter="tags:projects" limit="2"}}
    {{#foreach posts}}

    {{#if feature_image}}

    <img src="{{ feature_image }}" alt="{{ title }}" class="main-site-img" />

    {{/if}}

    {{/foreach}}
    {{/get}}
  </div>

  <div class="container container-column container-centered container-background-white">
    {{#get "pages" limit="1" filter="tag:companies"}}
    {{#foreach pages}}
    <div class="container-column container-centered container-background-white">
      <div class="title title-start">{{ title }}</div>

      {{/foreach}}
      {{/get}}
      {{> companies limit="9"}}
      <a href="/projekty/#projects" class="button">Zobacz projekty</a>
    </div>
  </div>
</main>
