{{!< default}}
<main class="gh-main">
  <div class="gh-container main-content">
    {{> about}}

    <div class="main-site-gallery">
      {{#get "posts" filter="tags:projects" limit="2"}}
      {{#foreach posts}}

      {{#if feature_image}}

      <img src="{{ feature_image }}" alt="{{ title }}" class="main-site-img" />

      {{/if}}

      {{/foreach}}
      {{/get}}
    </div>

    <div class="container-column container-centered">
      {{> companies limit="9"}}
      <a href="/projekty/#projekty" class="button">Pokaż więcej</a>

      <div>
        {{! If JS isn't enabled, fallback to standard pagination }}
        <noscript>
          <div class="gh-pagination">
            {{ pagination }}
          </div>
        </noscript>
      </div>
    </div>
  </div>
</main>
