{{!< default}}
<div class="main-content" id="projekty">
  <div class="container-column container-centered">
    {{#get "tags" limit="1" filter="slug:projects"}}
    {{#foreach tags}}
    <div class="title">
      {{ name }}
    </div>

    {{/foreach}}
    {{/get}}
    <div class="projects-container">
      {{#get "posts" filter="tags:projects"}}
      {{#foreach posts}}
      {{#if feature_image}}
      <div class="photo-container">
        <figure class="project-container">
          <img src="{{ feature_image }}" alt="{{ title }}" class="project-image" />
          <figcaption class="project-title">{{ title }}</figcaption>
        </figure>
      </div>

      {{/if}}
      {{/foreach}}
      {{/get}}
    </div>
  </div>

  <div class="container-column container-centered">
    {{> companies}}
  </div>
</div>
