#contact:target {
  padding-top: 200px;
}

.contact-content {
  background-color: var(--color-base);
  color: var(--color-bg);
  padding: 64px;
}

.contact-sides {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
.contact-banner {
  font-size: 4.8rem;
  font-weight: var(--font-bold);
}

.line {
  display: none;
}
.contact-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 64px;
  font-size: 2.4rem;
}
.contact-logo {
  width: 24vh;
}

@media (min-width: 992px) {
  .contact-sides {
    flex-direction: row;
  }
  .line {
    display: inline-block;
    width: 2px;
    height: 540px;
    background-color: var(--color-primary);
  }
}
