/* index-content */
.main-site-gallery {
  flex-direction: column;
}
.main-site-img {
  width: 100vw;
}

@media (min-width: 1280px) {
  .main-site-gallery {
    gap: 0;
    display: flex;
    flex-direction: row;
  }
  .main-site-img {
    width: 50vw;
  }
}
