#projects {
  padding-top: 160px;
}

.project-image {
  transition: transform 1000ms;
  width: 100vw;
  flex: 1 1 50%;
}
.projects-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}

@media (min-width: 1280px) {
  .project-image {
    width: auto;
    flex: 1 1 50%;
    height: 50vh;
    width: 75vh;
  }
}

.photo-container:is(:hover, :focus) figure::after {
  opacity: 1;
}

figure:is(:hover, :focus) figcaption {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
@media (min-width: 768px) {
  .project-content {
    padding: 128px;
  }
}
.project-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-items: center;
  text-align: center;
  gap: 8px;
  width: 100%;
  height: 100%;
  color: var(--color-bg);
  z-index: 1;
  opacity: 0;
  padding: 32px;
  transition:
    opacity 600ms,
    transform 600ms;
}
.title-small {
  font-weight: var(--font-heavy);
  font-size: 1.8rem;
}

.project-container::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;

  background: rgba(0, 0, 0, 0.5);
  /* background-color: rgb(from var(--color-primary) r g b / 0.); */
  transform-origin: center;
  display: flex;
  opacity: 0;
  transform: scale(2);
  transition: opacity 300ms;
}

.project-container {
  position: relative;
  overflow: hidden;
}
.projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companies-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .companies-button-container {
    align-items: end;
  }
}
