/* header */

.site-cover {
  width: 100%;
  height: 46vw;
}

.nav {
  gap: 10px;
}

.nav li a {
  font-size: 2.2rem;
  padding: 4px;
}
.logo {
  height: 60px;
}

@media (min-width: 992px) {
  .logo {
    height: 70px;
    transition: 0.4s ease;
  }
}

.header-navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 10;
  gap: 100px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 16px;
}

@media (min-width: 992px) {
  .header-navigation {
    justify-content: start;
    flex-direction: row;
    gap: 20px;
  }
}

.cover-container {
  /* z-index: 1; */
  display: flex;
  align-items: center;
  padding-top: 16px;
}

@media (max-width: 992px) {
  .header-navigation {
    position: fixed;
    background-color: white;
  }
  .gh-head-open .header {
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.logo-burger-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  align-items: center;
}

.burger-button {
  position: absolute;
  right: 0;
}

/* .header a {
  display: flex;
  justify-content: end;
  padding: 20px;
}

.header {
  background-color: white;
} */
/* .burger-button {
  display: flex;
  justify-content: end;
} */
