/*Custom components */
@import 'components/contact-block.css';
@import 'components/about.css';
@import 'components/companies.css';
@import 'components/contact-form.css';
@import 'components/notification.css';

/* Custom elements */
@import 'page_elements/footer.css';
@import 'page_elements/header.css';

/* Custom pages style */
@import 'pages/contact.css';
@import 'pages/home-page.css';
@import 'pages/projects.css';
@import 'pages/erorr.css';

@import 'global.css';
@import 'vars.css';

.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.page-view {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-bg);
}

/* default button */
.button {
  border: 2px solid var(--color-base);
  color: var(--color-base);
  font-weight: var(--font-bold);
  padding: 20px;
  padding-inline: 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 2.2rem;
  text-decoration: none;
  align-self: flex-end;
}

.button:hover {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

/* default container */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  padding: 16px;
  gap: 32px;
}

.container-background-white {
  background-color: var(--color-bg);
}

.container-column {
  display: flex;
  flex-direction: column;

  align-items: stretch;
  gap: 64px;
}

@media (min-width: 480px) {
  .container {
    padding: 64px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 82px;
  }
  .container-column {
    align-items: flex-start;
  }
}

.container-centered {
  align-items: center;
}

/* default title*/
.title {
  font-size: 4.8rem;
  font-style: normal;
  color: var(--color-base);
  font-weight: var(--font-bold);
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-underline-offset: 1rem;
  text-align: center;
}

.title-start {
  align-self: flex-start;
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 72px;
}

.main-content a {
  color: var(--color-base);
}

.underline {
  grid-column: 1 / span 2;
  opacity: 1;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
