/* about */
.name-surname {
  color: var(--color-primary);
  font-weight: var(--font-bold);
  text-wrap: nowrap;
  font-size: 3.2rem;
  transition: 1s ease;
}
@media (min-width: 320px) {
  .name-surname {
    font-size: 5.8rem;
  }
}

.about-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.about-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right-card-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-content {
  font-size: 2.4rem;
  line-height: 4rem;
  text-align: start;
  text-wrap: wrap;
}

.profile-container {
  flex-shrink: 0;
  order: -1;
}

.about-photo,
.profile-background {
  max-width: 300px;
  width: 60vw;
  max-height: 300px;
  height: 60vw;
  transition: 1s ease;
}
.about-photo {
  border-radius: 20px;
  z-index: 2;
  object-fit: cover;
  box-shadow: 16px 16px 0px 0px var(--color-primary);
  right: 16px;
  bottom: 16px;
}
@media (min-width: 480px) {
  .about-photo,
  .profile-background {
    max-width: 400px;
    width: 80vw;
    max-height: 400px;
    height: 80vw;
  }
}

.about-personal-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}

@media (min-width: 1440px) {
  .about-content-container {
    flex-direction: row;

    gap: 128px;
  }
  .profile-container {
    order: 0;
  }
}
