.contact-element {
  display: grid;
  justify-items: flex-start;
  grid-template-columns: 1fr 2fr;
  gap: 24px;
  align-items: center;
}

@media (max-width: 480px) {
  .contact-element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.contact-label-row {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: var(--font-bold);
}

.beige {
  color: var(--color-primary);
}
.contact-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--color-bg);
}
@media (max-width: 784px) {
  .contact-element {
    grid-template-columns: repeat(auto-fit, 186px);
  }
}

.contact-item a {
  text-underline-offset: 6px;
  color: var(--color-bg);
}
