/*Custom components */
@import 'components/contact-block.css';
@import 'components/about.css';
@import 'components/companies.css';

/* Custom elements */
@import 'page_elements/footer.css';
@import 'page_elements/header.css';

/* Custom pages style */
@import 'pages/contact.css';
@import 'pages/home-page.css';
@import 'pages/projects.css';

/* default button */
.button {
  border: 2px solid var(--color-base);
  color: var(--color-base);
  font-weight: 700;
  padding: 20px;
  padding-inline: 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 22px;
  text-decoration: none;
}

.button:hover {
  background-color: var(--button-color);
}

/* default container */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: #ffffff;

  padding: 54px 82px;
  flex-direction: column;
  gap: 32px;
}
/* default container column */
.container-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 64px;
  padding: 52px;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .container-column {
    align-items: flex-start;
  }
}

.container-centered {
  align-items: center;
}

/* default title*/
.title {
  font-size: 42px;
  font-style: normal;
  color: var(--color-base);
  font-weight: 700;
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  gap: 54px;
}

.main-content a {
  color: var(--color-base);
}

body {
  padding: 20px;
}
