.contact-element {
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    align-items: center;
}

@media (max-width: 480px) {
    .contact-element {
        flex-direction: column;
        gap: 10px;
    }
}

.contact-label-row {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
}

.blue {
    color: var(--color-bg);
}
.contact-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
@media (max-width: 784px) {
    .contact-element {
        grid-template-columns: repeat(auto-fit, 186px);
    }
}
.underline {
    grid-column: 1 / span 2;
    opacity: 1;
}
